<link rel="stylesheet" href="css/Dev/patient.css" />

<h1>Acceso Paciente</h1>

<a class="btn btn-primary" id="logout" ng-click="logout();" href="#">
        <i class="fa fa-sign-out  fa-lg"></i> Cerrar Sesión</a>

<form name="outerForm" class="tab-form-demo">
    <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Registros de Peso">

            <a class="btn btn-success" id="buttonOption" ng-click="showForm();" ng-show="addWeight==0" href="#">
                <i class="fa fa-plus fa-lg"></i> Añadir</a>

            <a class="btn btn-success" id="buttonOption" ng-click="toggleView();" href="#">
                    <i class="fa fa-list fa-lg"></i> {{ tabLabel }}
                </a>

            

                <div id="addWeightForm" ng-show="addWeight==1">
                    <form name="add_a_weight" novalidate>
                        <table>
                          <tr>    
                              <td>
                                <div  class="form-group">
                                  Peso :<input type="number" ng-model="WeightData.Weight" name="" class="form-control"  />
                                </div>                         
                                                           
                                                             
                              <td>
                                <div  class="form-group">
                                  Fecha :<input type="date" ng-model="WeightData.Date" name="" class="form-control"  />
                                </div>
                              </td>
                          </tr>      
                        </table> 
                        <a class="btn btn-success" ng-click="createNewWeight()"  href="#"> <!-- ng-show="editing==0" -->
                            <i class="fa fa-check-circle fa-lg"></i> Crear</a>
                            <a class="btn btn-danger" ng-click="hideForm()" href="#">
                              <i class="fa fa-times-circle fa-lg"></i> Cancelar</a>
                        
                    </form>

                </div>
                <div id="weightsList" class="table-container" ng-show="showList==1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="column-header">Peso</th>
                                <th class="column-header">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="weight in weightsList">
                                <td>{{weight.PESO}}</td>
                                <td>{{weight.FECHA_ALTER}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <div id="weightsGraph" ng-if="showGraph==1">
                <div google-chart chart="myChartObject" style="height:600px; width:100%;"></div>
                </div>
                
                    <div id="weightsList" ng-show="showGraph==0&&addWeight==0">
                
                    </div>
                
                    <div id="weightForm" ng-show="addWeight==1">
                
                    </div>


                    
        </uib-tab>
        <uib-tab index="1" heading="Visitas">

        </uib-tab>

    </uib-tabset>
</form>